projeto_intro/casos_teste
projeto_intro/testados
projeto_intro/dados*.bin
projeto_intro/main
projeto_intro/*.zip

1_projeto/zips
1_projeto/testados
1_projeto/output.*
1_projeto/func5 antiga.txt
1_projeto/reference.c
1_projeto/casos_teste2/
1_projeto/B-tree antigo.txt
.vscode/settings.json
et --hard 25eac10